@using INEC3.Helper
@using INEC3.Controllers;
@using INEC3.Models;
@using INEC3.Models.Service;
@{
    string userid = "";
    if (User.Identity.IsAuthenticated == false)
    {
        Response.Redirect("/Account/Login");
    }
    else
    {
        userid = User.Identity.Name;
        //string usernamee = User.Identity.Name;
    }
    Base _base = new Base();
    AccountApiController accapi = new AccountApiController();
    UserDisplay display = new UserDisplay();
    AccountService accountService = new AccountService();

    //username = _base.GetCookie("inceusername");
    if (!string.IsNullOrEmpty(userid))
    {
        display = accountService.FindUserDisplay("Id", userid);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/image/logo.png">
    <title>Shadow</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins/bower_components/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Menu CSS -->
    <link href="~/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="~/Content/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Vector CSS -->
    <link href="~/Content/plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/Content/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Content/css/colors/blue-dark.css" id="theme" rel="stylesheet">

    <!--Sweet alerts CSS -->
    <link href="~/Content/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .logo-container {
            flex-shrink: 0;
            margin-right: 35px;
            text-transform: uppercase;
            z-index: 2;
            pointer-events: none;
        }

            .logo-container .logo {
                display: inline-block;
                height: 80px;
                padding: 0;
                pointer-events: all;
            }

                .logo-container .logo img {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                }

        .flag-border {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 5px;
            z-index: -1;
            background-color: #3b3b3b;
        }

            .flag-border > div {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }

        #demotext {
            color: #131313;
            background: #e7e5e4;
            letter-spacing: .15em;
            text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
            color: #131313;
            background: #e7e5e4;
        }
    </style>
</head>
<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader" style="background: rgba(255, 255, 255, 0.58);">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left logo-container" style="margin-bottom: -31px;">
                    <!-- Logo -->
                    <a class="logo" href="@Url.Action("Index","Home")">
                        <!--This is dark logo icon--><img src="~/Content/image/logo.png" alt="home" class="dark-logo" />
                    </a>
                    <div style="display: inline;position: absolute;margin: 0px 2%;">
                        <h2 style="color:white;color: #f7f1f1;text-shadow: 1px -1px 0 #afa7a7, -1px 2px 1px #111010, -2px 4px 1px #767474, -3px 6px 1px #787777,-4px 6px 1px #787777, 4px -13px 12px rgba(28,110,164,0);">Result Of Nation</h2>
                    </div>
                </div>

            </div>
            <div class="flag-border">
                <div style="background-color: #007fff !important;"></div>
                <div style="background-color: #f7d618 !important;"></div>
                <div style="background-color: #ce1021 !important;"></div>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    @if (!string.IsNullOrEmpty(userid))
                    {
                        <li class="user-pro">
                            <a href="#" class="waves-effect">
                                <i class="icon-people text-info" style="font-size: 25px;"></i> <span class="hide-menu">@display.Name<span class="fa arrow"></span></span>
                            </a>
                            <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                <li><a href="#" id="linkchangepass"><i class="ti-unlock"></i> <span class="hide-menu">Password Change</span></a></li>
                                <li><a href="javascript:void(0)"><i class="ti-settings"></i> <span class="hide-menu">Account Setting</span></a></li>
                                <li><a href="@Url.Action("Logoff","Account")"><i class="fa fa-power-off"></i> <span class="hide-menu">Logout</span></a></li>
                            </ul>
                        </li>

                        if (accapi.IsInRole(userid, "SuperAdmin"))
                        {
                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="mdi mdi-table fa-fw"></i><span class="hide-menu">Forms<span class="fa arrow"></span></span>
                                </a>
                                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                    <li><a href="@Url.Action("Users","Admin")"><i class="fa-fw">M</i><span class="hide-menu">Manage User</span></a></li>
                                    <li><a href="@Url.Action("AdminIndex","Admin")"><i class="fa-fw">R</i><span class="hide-menu">Admin Result List</span></a></li>
                                </ul>
                            </li>
                        }
                        else if (accapi.IsInRole(userid, "User")) { }
                        else
                        {
                            <li>
                                <a href="tables.html" class="waves-effect">
                                    <i class="mdi mdi-table fa-fw"></i><span class="hide-menu">Forms<span class="fa arrow"></span></span>
                                </a>
                                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                                    <li><a href="@Url.Action("Index","Admin")"><i class="fa-fw">R</i><span class="hide-menu">Result List</span></a></li>
                                </ul>
                            </li>
                        }

                    }
                    else
                    {
                        <li class="user-pro">
                            <a href="@Url.Action("Login","Account")" class="waves-effect">
                                <i class="icon-people text-info" style="font-size: 25px;"></i> <span class="hide-menu"> Login<span class="fa arrow"></span></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            @RenderBody()
            <!-- /.container-fluid -->
            <footer class="footer text-center">
                Copyright © 2018 <a href="http://www.artechconsulting.us" target="blank">Artech Consulting</a>. All Rights Reserved.
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- Password Change Model -->
    <div class="modal fade" id="mdchangepassword" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel1">Change password</h4>
                </div>
                <div class="modal-body">
                    <form id="passchnageform">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Old Password:</label>
                            <input type="password" name="OldPassword" class="form-control" id="OldPassword">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">New Password:</label>
                            <input type="password" name="Password" class="form-control" id="Password" />
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Confirm New Password:</label>
                            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnchangepass">Change password</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

    <!--slimscroll JavaScript -->
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>

    <!-- chartist chart -->
    <script src="~/Content/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- sparkline chart JavaScript -->
    <script src="~/Content/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <!--Cookiess JavaScript -->
    <script src="~/Scripts/js.cookie.js"></script>

    <!-- toast JS -->
    <script src="~/Content/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!-- Sweet-Alert  -->
    @*<script src="~/Content/plugins/bower_components/sweetalert/sweetalert.min.js"></script>*@

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var bearer = '';
        $(function () {
            if (Cookies.get('inecbearer')) {
                bearer = Cookies.get('inecbearer');
            }
            $('#linkchangepass').on('click', function () { $("#mdchangepassword").modal('show'); $("#passchnageform")[0].reset(); });
            $('#btnchangepass').on('click', function () {
                $('.preloader').show();
                if ($("#passchnageform").valid()) {
                    var Model = { CurrentPassword: $('#OldPassword').val(), NewPassword: $('#Password').val() };
                    $.ajax({
                        type: "POST",
                        headers: { Authorization: bearer },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "/api/Account/PasswordChange",
                        data: JSON.stringify(Model),
                        success: function (data) {
                            debugger
                            $(".preloader").fadeOut();
                            if (data.ContentType == null) {
                                $("#mdchangepassword").modal('hide');
                                $.toast({ heading: 'Success', text: data.Data, position: 'top-right', loaderBg: '#ff6849', icon: 'success', hideAfter: 3500, stack: 6 });
                            }
                            else if (data.ContentType == "fail") {
                                $.toast({ heading: 'Invalid!', text: data.Data[0], position: 'top-right', loaderBg: '#ff6849', icon: 'warning', hideAfter: 3500, stack: 2 });

                            }
                            else {
                                alert('Invalid request');
                            }
                        },
                        error: function (ex) {
                            if (ex.status >= 400 && ex.status <= 503) {
                                $.toast({ heading: 'Unauthorized', text: 'Authorization has been denied for this request..', position: 'top-right', loaderBg: '#ff6849', icon: 'error', hideAfter: 3500, stack: 2 });
                            }
                            $(".preloader").fadeOut();
                            $("#mdchangepassword").modal('hide');
                        }
                    });
                }
            });
        });

        //Form Validation
        $("#passchnageform").validate({
            rules: {
                OldPassword: { required: true },
                Password: { required: true, minlength: 5 },
                ConfirmPassword: { minlength: 5, equalTo: "#Password" }

            },
            messages: {
                OldPassword: "Please Enter Old Password",
                Password: { required: "Please Enter New Password", minlength: "Enter at least {0} characters" },
                ConfirmPassword: "Enter Valid Confirm Password",
            },
        });
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>

