@model INEC3.Models.tbl_Results
@{
    ViewBag.Title = "About";
}
<h2>Upload Election Result</h2>
<style>
    input, select, textarea {
        max-width: 480px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">@Html.ValidationSummary()</div>
    }

        <div class="form-horizontal">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">

                    @*<div class="form-group">
             <label for="Note">Province</label>
             @Html.DropDownList("Province", new List<SelectListItem> {
            new SelectListItem{Text="Select Province",Value="0"},
            new SelectListItem{Text="Bas-Uélé",Value="1"},
            new SelectListItem{Text="Équateur",Value="2"},
            new SelectListItem{Text="Haut-Lomami",Value="3"},
            new SelectListItem{Text="Haut-Uélé",Value="4"},
            new SelectListItem{Text="Ituri",Value="5"},
            new SelectListItem{Text="Kasaï",Value="6"},
            new SelectListItem{Text="Kasaï-Central",Value="7"},
            new SelectListItem{Text="Kasaï-Oriental",Value="8"},
            new SelectListItem{Text="Kinshasa",Value="9"},
            new SelectListItem{Text="Kongo-Central",Value="10"},
            new SelectListItem{Text="Kwango",Value="11"},
            new SelectListItem{Text="Kwilu",Value="12"},
        },new {@class= "form-control" })
         </div>*@

                    @*<div class="form-group">
             <label for="Note">Territoiry</label>
             @Html.DropDownList("Territoiry", new List<SelectListItem> {
            new SelectListItem{Text="Select Territoiry",Value="0"},
            new SelectListItem{Text="Aketi",Value="1"},
            new SelectListItem{Text="Bolomba",Value="2"},
            new SelectListItem{Text="Kambove",Value="3"},
            new SelectListItem{Text="Pweto",Value="4"},
            new SelectListItem{Text="Faradje",Value="5"},
            new SelectListItem{Text="Watsa",Value="6"},
            new SelectListItem{Text="Aru (ville)",Value="7"},
            new SelectListItem{Text="Kasaï-Oriental",Value="8"},
            new SelectListItem{Text="Kasangulu",Value="9"},
            new SelectListItem{Text="Lubudi",Value="10"},
            new SelectListItem{Text="Dibaya-Lubwe",Value="11"},
            new SelectListItem{Text="Masisi",Value="12"},
        },new {@class= "form-control" })
         </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.ID_Candidat, "Candidat")
                        @Html.DropDownList("ID_Candidat", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_Candidat, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ID_Bureauvote, "Pooling Station")

                        @Html.DropDownList("ID_Bureauvote", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_Bureauvote, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Voix, "Votes")
                        @Html.EditorFor(model => model.Voix, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Voix, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Abstentions)
                        @Html.EditorFor(model => model.Abstentions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Abstentions, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nuls)
                        @Html.EditorFor(model => model.Nuls, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nuls, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ID_Party, "Party")
                        @Html.DropDownList("ID_Party", null, htmlAttributes: new { @class = "form-control disable" })
                        @Html.ValidationMessageFor(model => model.ID_Party, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Votants)
                        @Html.EditorFor(model => model.Votants, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Votants, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pourcentage)
                        @Html.EditorFor(model => model.Pourcentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pourcentage, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Exprimes)
                        @Html.EditorFor(model => model.Exprimes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Exprimes, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @*<div class="col-md-7"></div>*@
                        <div class="col-md-6">
                            <input type="submit" value="Save" class="btn btn-primary form-control" style="margin-top:10%;" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                
            </div>
            
           
        </div>
}

@*<div class="form-group">
        <label for="Note">Party</label>
        @Html.DropDownList("Party",new List<SelectListItem> {
                 new SelectListItem{Text="Select Party",Value="0"},
                 new SelectListItem{Text="Donald J. Trump ",Value="1"},
                 new SelectListItem{Text="Hillary Cliton",Value="2"},
                 new SelectListItem{Text="Gary Johnson",Value="3"}
             },new {@class= "form-control" })

    </div>*@