@model IEnumerable<INEC3.Models.ResultViewModel>
@{
    ViewBag.Title = "Result List";
    var Province = "";
    var Territoire = "";
    var Commune = "";
}
<link href="@Url.Content("~/Content/plugins/bower_components/datatables/media/css/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/jquery")
<style>
    tr.Province.group {
        background: white !important;
    }
</style>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><b>Error </b>@ViewBag.Message
    </div>
}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Result</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="@Url.Action("AdminResult")" class="btn btn-danger pull-right m-l-20  waves-effect waves-light">Add New</a>
            <ol class="breadcrumb">
                <li><a href="#">Result</a></li>
                <li class="active">List</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Result List</h3>
                <div class="table-responsive">
                    <table id="myTable" class="table display">
                        <thead>
                            <tr>
                                @*<th>
                                        @Html.DisplayName("Province")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Territoire")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Commune")
                                    </th>*@
                                <th>
                                    @Html.DisplayName("Polling Station")
                                </th>
                                <th>
                                    @Html.DisplayName("CODE_SV")
                                </th>
                                <th>
                                    @Html.DisplayName("User")
                                </th>
                                <th>
                                    @Html.DisplayName("Candidat")
                                </th>
                                <th>
                                    @Html.DisplayName("Party")
                                </th>
                                <th>
                                    @Html.DisplayName("Voix")
                                </th>
                                <th>
                                    @Html.DisplayName("Pourcentage")
                                </th>
                                <th>
                                    @Html.DisplayName("Exprimes")
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Province != Province)
                                {
                                    <tr class="Province group" style="background:#233656 !important;"><td><b>Province : @item.Province</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                    Province = item.Province;
                                }
                                if (item.Territoire != Territoire)
                                {
                                    <tr class="Territoire group" style="background:#415B76 !important;"><td><b>Territoire : @item.Territoire</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                    Territoire = item.Territoire;
                                }
                                if (item.Commune != Commune)
                                {
                                    <tr class="Commune group" style="background:#7B9BA6 !important; color:#333;"><td><b>Commune : @item.Commune</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                    Commune = item.Commune;
                                }
                                <tr role="row">
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Province)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Territoire)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Commune)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PolStation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code_SV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Candidat)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Party)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Voix)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pourcentage) %
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Exprimes)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center">
    Copyright © 2018 <a href="http://www.artechconsulting.us" target="blank">Artech Consulting</a>. All Rights Reserved.
</footer>
@section Scripts {
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/plugins/bower_components/datatables/datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".preloader").fadeOut();
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'print', { extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'LEGAL' }],
                displayLength: 25,
                order: true
            });
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary m-r-10');
        });
    </script>
}
