@model IEnumerable<INEC3.Models.tbl_Results>

@{
    ViewBag.Title = "Result List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Result</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="@Url.Action("Result")" class="btn btn-primary pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Add New</a>
            <ol class="breadcrumb">
                <li><a href="#">Result</a></li>
                <li class="active">List</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Result List</h3>
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BureauVote.Nom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Candidat.Nom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Party.Sigle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Voix)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pourcentage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Votants)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Abstentions)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nuls)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Exprimes)
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BureauVote.Nom)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Candidat.Nom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Party.Sigle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Voix)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pourcentage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Votants)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Abstentions)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nuls)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Exprimes)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Result", new { id = item.ID_Result }) |*@

                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID_Result })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
@Scripts.Render("~/bundles/jquery")
@section Scripts {

    <!-- Custom Theme JavaScript -->
    @*<script src="~/Content/js/custom.min.js"></script>*@
    <script src="~/Content/plugins/bower_components/datatables/datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary m-r-10');
    </script>
}