@model INEC3.Models.UserDisplay
@{
    ViewBag.Title = "ManageUser";
}
@Scripts.Render("~/bundles/jquery")
<!-- Select CSS -->
<link href="@Url.Content("/Content/plugins/bower_components/switchery/dist/switchery.min.css")" rel="stylesheet" />
<style>
    input, select, textarea {
        max-width: 480px;
    }
</style>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><b>Error </b>@ViewBag.Message
    </div>
}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Manage<span class="text-info"> @Model.Name </span> User</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="@Url.Action("Users")" class="btn btn-danger pull-right m-l-20  waves-effect waves-light">User List</a>
            <ol class="breadcrumb">
                <li>User</li>
                <li class="active">Manage</li>
            </ol>
        </div>
    </div>
    @using (Html.BeginForm("ManageUser", "Admin", FormMethod.Post, new { id = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="ti-settings"></i> Role
                    @*<div class="pull-right"><input type="checkbox" id="userstatus" checked class="js-switch" data-color="#f96262" /></div>*@
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.UserId, new { @id = "UserId" })
                            @if (Model.Role == "User")
                            {
                                <div class="form-group col-md-6">
                                    @Html.Label("Role")
                                    @Html.DropDownList("Role", new SelectList(ViewBag.Roles, "Value", "Text", @Model.Role), htmlAttributes: new { @class = "form-control", @onchange = "RoleChange()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="Province" style="display:none;">
                                    @Html.Label("Province")
                                    @Html.DropDownList("ID_Province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetTerritoireList()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="Territoire" style="display:none;">
                                    @Html.Label("Territoire")
                                    @Html.DropDownList("ID_Territoire", new List<SelectListItem> { new SelectListItem { Text = "Select Territoire", Value = "" } }, htmlAttributes: new { @class = "form-control disable", @onchange = "GetCommune()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="Commune" style="display:none;">
                                    @Html.Label("Commune")
                                    @Html.DropDownList("ID_Commune", new List<SelectListItem> { new SelectListItem { Text = "Select Commune", Value = "" } }, htmlAttributes: new { @class = "form-control", @onchange = "GetPoolingStation()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="PollingStation" style="display:none;">
                                    @Html.Label("Poling Station")
                                    @Html.DropDownList("ID_Bureauvote", new List<SelectListItem> { new SelectListItem { Text = "Select Polling", Value = "" } }, htmlAttributes: new { @class = "form-control", @required = true })
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-6">
                                    @Html.Label("Role")
                                    @Html.DropDownList("Role", new SelectList(ViewBag.Roles, "Value", "Text", @Model.Role), htmlAttributes: new { @class = "form-control", @onchange = "RoleChange()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="Province" style="display:none;">
                                    @Html.Label("Province")
                                    @Html.DropDownList("ID_Province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetTerritoireList()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="Territoire" style="display:none;">
                                    @Html.Label("Territoire")
                                    @Html.DropDownList("ID_Territoire", new SelectList(ViewBag.Territoire, "Value", "Text"), htmlAttributes: new { @class = "form-control disable", @onchange = "GetCommune()", @required = true })
                                </div>
                                <div class="form-group col-md-6" id="Commune" style="display:none;">
                                    @Html.Label("Commune")
                                    @Html.DropDownList("ID_Commune", new SelectList(ViewBag.Commune, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetPoolingStation()", @required = true })

                                </div>
                                <div class="form-group col-md-6" id="PollingStation" style="display:none;">
                                    @Html.Label("Poling Station")
                                    @Html.DropDownList("ID_Bureauvote", new SelectList(ViewBag.Polingstation, "Value", "Text"), htmlAttributes: new { @class = "form-control", @required = true })
                                </div>
                            }
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <button type="button" id="btnsave" class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <!--Switch JavaScript -->
    <script src="@Url.Content("/Content/plugins/bower_components/switchery/dist/switchery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            $(".preloader").fadeOut();
            RoleChange();
            $('#btnsave').on('click', function () { if ($("#form").valid()) { SaveRole() }; });
            if ('User' == '@Model.Role') {
                $('#ID_Province').prepend($('<option selected></option>').val('').html("Select Province"));
            }
        });
        function GetTerritoireList() {
            if ($('#ID_Province').val() > 0) {
                $(".preloader").show();
                $('#ID_Territoire').html('');
                $('#ID_Territoire').append($('<option></option>').val('').html('Select Territoire'));
                $.ajax({
                    url: '/api/Results/GetTerritoireList',
                    type: 'GET',
                    headers: { Authorization: bearer },
                    data: { ProvinceId: $('#ID_Province').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Territoire').append($('<option></option>').val(v.ID_Territoire).html(v.Nom));
                            });
                        }
                    }
                });
                $(".preloader").fadeOut();
            }
        }
        function GetCommune() {
            if ($('#ID_Territoire').val() > 0) {
                $(".preloader").show();
                $('#ID_Commune').html('');
                $('#ID_Commune').append($('<option></option>').val('').html('Select Commune'));
                $.ajax({
                    url: '/api/Results/GetCommune',
                    type: 'GET',
                    headers: { Authorization: bearer },
                    data: { ProvinceId: $('#ID_Province').val(), TerritoireId: $('#ID_Territoire').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Commune').append($('<option></option>').val(v.ID_Commune).html(v.Nom));
                            });
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function (err) {
                        $(".preloader").fadeOut();
                    }
                });
            }

        }
        function GetPoolingStation() {
            if ($('#ID_Commune').val() > 0) {
                $(".preloader").show();
                $('#ID_Bureauvote').html('');
                $('#ID_Bureauvote').append($('<option></option>').val('').html('Select Polling'));
                $.ajax({
                    url: '/api/Results/GetPoolingStationList',
                    type: 'GET',
                    headers: { Authorization: bearer },
                    data: { CommuneId: $('#ID_Commune').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Bureauvote').append($('<option></option>').val(v.ID_Bureauvote).html(v.Nom));
                            });
                            //$('#ID_Bureauvote').selectpicker('refresh');
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function (err) {
                        $(".preloader").fadeOut();
                    }
                });
            }
        }
        function RoleChange() {
            var select = $("#Role option:selected").text();
            if (select == "SuperAdmin") {
                $("#Province").hide()
                $("#Territoire").hide()
                $("#Commune").hide()
                $("#PollingStation").hide()
            }
            else if (select == "User") {
                $("#Province").hide()
                $("#Territoire").hide()
                $("#Commune").hide()
                $("#PollingStation").hide()
            }
            else if (select == "Province") {
                $("#Province").show()
                $("#Territoire").hide()
                $("#Commune").hide()
                $("#PollingStation").hide()
            }
            else if (select == "Territoire") {
                $("#Province").show()
                $("#Territoire").show()
                $("#Commune").hide()
                $("#PollingStation").hide()
            }
            else if (select == "Commune") {
                $('#Province').show()
                $('#Territoire').show()
                $('#Commune').show()
                $('#PollingStation').hide()
            }
            else if (select == "PollingStation") {
                $('#Province').show()
                $('#Territoire').show()
                $('#Commune').show()
                $('#PollingStation').show()
            }
        }
        function SaveRole() {
            $(".preloader").show();

            var data = {
                UserID: $('#UserId').val(),
                AssignRole: $("#Role option:selected").text(),
                AssignID: 0
            };

            if (data.AssignRole == "SuperAdmin") { data.AssignID = 0; }
            else if (data.AssignRole == "User") { data.AssignID = 0; }
            else if (data.AssignRole == "Province") { data.AssignID = $('#ID_Province').val(); }
            else if (data.AssignRole == "Territoire") { data.AssignID = $('#ID_Territoire').val(); }
            else if (data.AssignRole == "Commune") { data.AssignID = $('#ID_Commune').val(); }
            else if (data.AssignRole == "PollingStation") { data.AssignID = $('#ID_Bureauvote').val(); }
            if (data.AssignID != "" || data.AssignRole != "" || data.AssignID != "" && data.AssignRole != "") {
                $.ajax({
                    url: '/Admin/UserPolStation',
                    type: 'POST',
                    //headers: { Authorization: bearer },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (res) {
                        if (res) {
                            $.toast({ heading: 'Success !', text: res,position: 'top-right',loaderBg: '#ff6849',icon: 'success',hideAfter: 3500,stack: 6});
                            //alert(res);
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function (err) {
                        $.toast({ heading: 'error !', text: 'something going wrong', position: 'top-right', loaderBg: '#ff6849', icon: 'error', hideAfter: 3500, stack: 6 });
                        alert(err);
                        $(".preloader").fadeOut();
                    }
                });
            }
            else {
                alert('Please Select Value');
            }
        }
        //function LockUnlockUser() {
        //    swal({
        //        title: "Are you sure?",
        //        text: "Once change, you will not be able to recover this record!",
        //        icon: "warning",
        //        buttons: true,
        //        dangerMode: true,
        //    }).then((willDelete) => {
        //        if (willDelete) {
        //            $(".preloader").show();
        //            $.ajax({
        //                url: '/api/Account/LockUnlockUser',
        //                type: 'GET',
        //                headers: { Authorization: bearer },
        //                data: { userid: $('#'), status:$('#') },
        //                success: function (resp) {
        //                    if (resp) {
        //                        swal("Success! User Status Change!", { icon: "success", });
        //                    }
        //                    else {
        //                        swal("Oops! something wrong please try again!", { icon: "error", });
        //                    }
        //                    $(".preloader").fadeOut();
        //                },
        //                error: function () {
        //                    $(".preloader").fadeOut();
        //                }
        //            });

        //        } else {
        //            swal("Your record is safe!");
        //        }
        //    });
        //}

        $("#form").validate({
            rules: {
                ID_Province: { required: true },
                ID_Territoire: { required: true },
                ID_Commune: { required: true },
                ID_Bureauvote: { required: true }

            },
            messages: {
                ID_Province: "Please select province",
                ID_Territoire: "Please select territoire",
                ID_Commune: { required: "Please select commune" },
                ID_Bureauvote: "Please select pollingstation",
            },
        }
        );
    </script>
}