@model INEC3.Models.tbl_Results
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<h2>Upload Election Result</h2>
<style>
    input, select, textarea {
        max-width: 480px;
    }
</style>
@using (Html.BeginForm("CreateResult", "Home", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(model => model.ID_Result, new { @id = "ID_Result" })

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ID_Candidat, "Province")
                @Html.DropDownList("ID_Province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetTerritoireList()", @required = true })
                @Html.ValidationMessageFor(model => model.ID_Candidat, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ID_Party, "Territoire")
                @Html.DropDownList("ID_Territoire", new List<SelectListItem> { new SelectListItem{Text="Select Territoire",Value="" }
                }, htmlAttributes: new { @class = "form-control disable",@onchange= "GetCommune()" })
                @Html.ValidationMessageFor(model => model.ID_Party, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ID_Bureauvote, "Commune")

                @Html.DropDownList("ID_Commune", new List<SelectListItem> { new SelectListItem{Text="Select Commune",Value="" }
                }, htmlAttributes: new { @class = "form-control", @onchange = "GetPoolingStation()" })
                @Html.ValidationMessageFor(model => model.ID_Bureauvote, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ID_Bureauvote, "Pooling Station")
                @Html.DropDownList("ID_Bureauvote", null, htmlAttributes: new { @class = "form-control", @onchange = "findVoters()" })
                @Html.ValidationMessageFor(model => model.ID_Bureauvote, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Votants)
                @Html.EditorFor(model => model.Votants, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Votants, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Abstentions)
                @Html.EditorFor(model => model.Abstentions, new { htmlAttributes = new { @class = "form-control", @onchange = "CountExprimes()", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.Abstentions, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Nuls)
                @Html.EditorFor(model => model.Nuls, new { htmlAttributes = new { @class = "form-control", @onchange = "CountExprimes()", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.Nuls, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Exprimes)
                @Html.EditorFor(model => model.Exprimes, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.Exprimes, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.Label("Total Votes")
                @Html.Editor("Total_Votes", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="col-md-12">
            <table class="table" id="tbllist">
                <thead class="table-bordered">
                    <tr>
                        <th>@Html.DropDownList("ID_Candidat", null, htmlAttributes: new { @class = "form-control", @onchange = "SelectParty()" })</th>
                        <th>@Html.DropDownList("ID_Party", null, htmlAttributes: new { @class = "form-control disable" })</th>
                        <th> @Html.EditorFor(model => model.Voix, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })</th>
                        <th colspan="2"><button type="button" onclick="addToList()" class="btn btn-primary pull-right">Add</button></th>
                    </tr>
                    <tr>
                        <th>Candidate</th>
                        <th>Party</th>
                        <th>Votes</th>
                        <th>Percentage</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group col-md-12">
            <input type="button" id="btnsave" value="Update" class="btn btn-primary pull-right col-md-3" style="margin-right: 7%;" />
        </div>

        <div class="clearfix"></div>

        @*<div class="form-group col-md-6">
                @Html.LabelFor(model => model.Pourcentage)
                @Html.EditorFor(model => model.Pourcentage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pourcentage, "", new { @class = "text-danger" })
            </div>*@


    </div>
}
<div>
    @Html.ActionLink("Back to List", "ResultList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ID_Party").prop("disabled", true);
            $("#Votants").prop("disabled", true);
            $("#Total_Votes").prop("disabled", true);
            
            if ($('#ID_Result').val() == "") {
                $('#Votants').val(0);
                $('#ID_Candidat').append($('<option selected></option>').val('').html("Select Candidate"));
                $('#ID_Party').append($('<option selected></option>').val('').html("Select Party"));
                $('#ID_Bureauvote').append($('<option selected></option>').val('').html("Select Pooling Station"));
                $('#ID_Province').append($('<option selected></option>').val('').html("Select Province"));

                $('#btnsave').val('Save');
            }
            else {
                SelectParty();
                findVoters();
            }
            $('#btnsave').click(function () {

                if ($('form').valid()) {
                    var tbl_Results = {
                        ID_Result: $('#ID_Result').val(),
                        ID_Bureauvote: $('#ID_Bureauvote').val(),
                        Votants: $('#Votants').val(),
                        Total_Votes: $('#Total_Votes').val(),
                        Abstentions: $('#Abstentions').val(),
                        Nuls: $('#Nuls').val(),
                        Exprimes: $('#Exprimes').val(),
                        ResultList: []
                    };
                    //tbl_Results.ResultList = ({ ID_Candidat: '1', ID_Party: '2', Pourcentage: '3', Voix: '1' });

                    $('#tbllist >tbody tr').each(function () {
                        tbl_Results.ResultList.push({
                            ID_Candidat: $(this).find('.CandidateId').val(),
                            ID_Party: $(this).find('.PartyId').val(),
                            Pourcentage: $(this).find('.percen').html(),
                            Voix: $(this).find('.votes').html()
                        });
                    });

                    $.ajax({
                        url: '/Admin/SaveRecord',
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(tbl_Results),
                        success: function (resp) {
                            if (resp == "success") {
                                toastr.success("Record save successfully", "Success");
                                var url = '@Url.Action("Index","Admin")';
                                window.location.href = url;
                            }
                            else {
                                toastr.error(resp, "Error");
                            }
                        }
                    });
                }
                else {
                    if ($('#ID_Province').val() == '') {
                        toastr.warning("Select Province");
                    }
                }

            });

        });
        function SelectParty() {
            if ($('#ID_Candidat').val() > 0) {
                $.ajax({
                    url: '/Admin/GetParty',
                    type: "GET",
                    data: { candidateid: $('#ID_Candidat').val() },
                    success: function (resp) {
                        if (resp) {
                            $("#ID_Party").val(resp.ID_Party);
                            if (resp.Color != null)
                                $("#ID_Party").css("background", resp.Color);
                            else $("#ID_Party").css("background", '#e2e2e2');
                        }
                        else {
                            console.log("SelectParty(): Something Wrong")
                        }
                    }

                });
            }
        }
        function findVoters() {
            console.log('get here');
            $.ajax({
                url: '/Admin/GetVoters',
                type: "GET",
                data: { polingstationid: $('#ID_Bureauvote').val() },
                success: function (resp) {
                    if (resp) {
                        $('#Votants').val(resp);
                    }
                    else {
                        $('#Votants').val(0);
                        console.log("findVoters(): Something Wrong")
                    }
                }
            });
        }
        function GetTerritoireList() {
            if ($('#ID_Province').val() > 0) {
                $('#ID_Territoire').html('');
                $('#ID_Territoire').append($('<option></option>').val('').html('Select Province'));
                $.ajax({
                    url: '/Admin/GetTerritoireList',
                    type: 'GET',
                    data: { ProvinceId: $('#ID_Province').val() },
                    success: function (res) {
                        if (res) {
                        $.each(res, function (i, v) {
                            $('#ID_Territoire').append($('<option></option>').val(v.ID_Province).html(v.Nom));
                        });
                    }
                }
                });
            }
        }

        function GetCommune() {
            if ($('#ID_Territoire').val() > 0) {
                $('#ID_Commune').html('');
                $('#ID_Commune').append($('<option></option>').val('').html('Select Pooling Station'));
                $.ajax({
                    url: '/Admin/GetCommune',
                    type: 'GET',
                    data: { ProvinceId: $('#ID_Province').val(), TerritoireId: $('#ID_Territoire').val() },
                    success: function (res) {
                        //console.log(res);
                        if (res) {

                            $.each(res, function (i, v) {
                                $('#ID_Commune').append($('<option></option>').val(v.ID_Commune).html(v.Nom));
                            });
                        }
                    }
                });
            }

        }
        function GetPoolingStation() {
            if ($('#ID_Commune').val() > 0) {
                $('#ID_Bureauvote').html('');
                $('#ID_Bureauvote').append($('<option></option>').val('').html('Select Pooling Station'));
                $.ajax({
                    url: '/Admin/GetPoolingStationList',
                    type: 'GET',
                    data: { CommuneId: $('#ID_Commune').val() },
                    success: function (res) {
                        if (res) {

                            $.each(res, function (i, v) {
                                $('#ID_Bureauvote').append($('<option></option>').val(v.ID_Bureauvote).html(v.Nom));
                            });
                        }
                    }
                });
            }
        }
        function CountExprimes() {
           // var Votes = $('#Voix').val() == "" ? 0 : $('#Voix').val()
            var Abstentions = $('#Abstentions').val() == "" ? 0 : $('#Abstentions').val()
            var Nuls = $('#Nuls').val() == "" ? 0 : $('#Nuls').val()

            var Votes=0

            $('#tbllist >tbody tr').each(function () {
                Votes +=parseInt($(this).find('.votes').html())
            });

            $('#tbllist >tbody tr').each(function () {
                $(this).find('.percen').html((parseInt($(this).find('.votes').html()) * 100 / parseInt(Votes)).toFixed(2))
            });
            $('#Exprimes').val(parseInt(Votes) + parseInt(Abstentions) + parseInt(Nuls))
            $('#Total_Votes').val(parseInt(Votes))

        }

        function addToList() {
            if ($('#ID_Candidat').val() != '' && $('#Voix').val()>0) {
                var table = $('#tbllist tbody');
            var Candidate = $('#ID_Candidat option:selected').text();
            var Party = $('#ID_Party option:selected').text();
            var votes = $('#Voix').val();
            //Percentage
            var TVotes = $('#Total_Votes').val() == "" ? $('#Voix').val() : $('#Total_Votes').val()
            var perc = (parseInt(votes) * 100 / parseInt(TVotes)).toFixed(2)

            table.append('<tr><td><input type="hidden" class="CandidateId" value="' + $('#ID_Candidat').val() + '" />' + Candidate + '</td><td><input type="hidden" class="PartyId" value="' + $('#ID_Party').val() + '" />' + Party + '</td><td class="votes">' + votes + '</td><td class="percen">' + perc + '</td><td><button type="button" onclick="remove($(this))" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove" "></i></button></td></tr>')
            CountExprimes()
            resetList()
        }
        else {
                if ($('#Voix').val() == 0){
                    toastr.warning("Enter value more than zero");
                }
            if ($('#ID_Candidat').val() == '') {
                toastr.warning("Select Candidate");
                }
        }
        }
        function remove(button) {
            button.closest("tr").remove()
            CountExprimes()
        }
        function resetList() {
            $('#ID_Candidat').val('');
            $('#ID_Party').val('');
            $('#Voix').val(0);

        }


    </script>
}


