@model INEC3.Models.tbl_Results
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

@*<h2>Upload Election Result</h2>*@
<style>
    input, select, textarea {
        max-width: 480px;
    }
</style>

<div class="container-fluid">

    <div class="row bg-title">
       
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Result's</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a href="@Url.Action("Index")" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">List</a>
                <ol class="breadcrumb">
                    <li>Result</li>
                    <li class="active">Add</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    @*<h3 class="box-title m-b-0">Result Forms</h3>*@
                    <p></p>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            @using (Html.BeginForm("CreateResult", "Home", FormMethod.Post, new { id = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.HiddenFor(model => model.ID_Result, new { @id = "ID_Result" })

                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.ID_Candidat, "Province")
                                            @Html.DropDownList("ID_Province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetTerritoireList()", @required = true })
                                            @Html.ValidationMessageFor(model => model.ID_Candidat, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.ID_Party, "Territoire")
                                            @Html.DropDownList("ID_Territoire", new List<SelectListItem> { new SelectListItem{Text="Select Territoire",Value="" }
                                            }, htmlAttributes: new { @class = "form-control disable",@onchange= "GetCommune()", @required = true })
                                            @Html.ValidationMessageFor(model => model.ID_Party, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.ID_Bureauvote, "Commune")

                                            @Html.DropDownList("ID_Commune", new List<SelectListItem> { new SelectListItem{Text="Select Commune",Value="" }
                                            }, htmlAttributes: new { @class = "form-control", @onchange = "GetPoolingStation()", @required = true })
                                            @Html.ValidationMessageFor(model => model.ID_Bureauvote, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.ID_Bureauvote, "Pooling Station")
                                            @Html.DropDownList("ID_Bureauvote", null, htmlAttributes: new { @class = "form-control", @onchange = "findVoters()", @required = true })
                                            @Html.ValidationMessageFor(model => model.ID_Bureauvote, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Votants)
                                            @Html.EditorFor(model => model.Votants, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Votants, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Abstentions)
                                            @Html.EditorFor(model => model.Abstentions, new { htmlAttributes = new { @class = "form-control", @onchange = "CountExprimes()", @Value = "0" } })
                                            @Html.ValidationMessageFor(model => model.Abstentions, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Nuls)
                                            @Html.EditorFor(model => model.Nuls, new { htmlAttributes = new { @class = "form-control", @onchange = "CountExprimes()", @Value = "0" } })
                                            @Html.ValidationMessageFor(model => model.Nuls, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Exprimes)
                                            @Html.EditorFor(model => model.Exprimes, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                                            @Html.ValidationMessageFor(model => model.Exprimes, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.Label("Total Votes")
                                            @Html.Editor("Total_Votes", new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <table class="table" id="tbllist">
                                            <thead class="table-bordered">
                                                <tr>
                                                    <th>@Html.DropDownList("ID_Candidat", null, htmlAttributes: new { @class = "form-control", @onchange = "SelectParty()" })</th>
                                                    <th>@Html.DropDownList("ID_Party", null, htmlAttributes: new { @class = "form-control disable" })</th>
                                                    <th> @Html.EditorFor(model => model.Voix, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })</th>
                                                    <th colspan="2"><button type="button" onclick="addToListAndDataBase()" class="btn btn-primary pull-right">Add</button></th>
                                                </tr>
                                                <tr>
                                                    <th>Candidate</th>
                                                    <th>Party</th>
                                                    <th>Votes</th>
                                                    <th>Percentage</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ID_Party").prop("disabled", true);
            $("#Votants").prop("disabled", true);
            $("#Total_Votes").prop("disabled", true);

            if ($('#ID_Result').val() == "") {
                $('#Votants').val(0);
                $('#Total_Votes').val(0);
                $('#ID_Candidat').append($('<option selected></option>').val('').html("Select Candidate"));
                $('#ID_Party').append($('<option selected></option>').val('').html("Select Party"));
                $('#ID_Bureauvote').append($('<option selected></option>').val('').html("Select Pooling Station"));
                $('#ID_Province').append($('<option selected></option>').val('').html("Select Province"));
            }
            else {
                SelectParty();
                findVoters();
            }
            $('#ID_Bureauvote').change(function () { $('#tbllist tbody>tr').remove(); });
        });
        function SelectParty() {
            if ($('#ID_Candidat').val() > 0) {
                $.ajax({
                    url: '/Admin/GetParty',
                    type: "GET",
                    data: { candidateid: $('#ID_Candidat').val() },
                    success: function (resp) {
                        if (resp) {
                            $("#ID_Party").val(resp.ID_Party);
                            if (resp.Color != null)
                                $("#ID_Party").css("background", resp.Color);
                            else $("#ID_Party").css("background", '#e2e2e2');
                        }
                        else {
                            console.log("SelectParty(): Something Wrong")
                        }
                    }

                });
            }
        }
        function findVoters() {
            $.ajax({
                url: '/Admin/GetVoters',
                type: "GET",
                data: { polingstationid: $('#ID_Bureauvote').val() },
                success: function (resp) {
                    $('#Abstentions').val(0);
                    $('#Nuls').val(0);
                    $('#Exprimes').val(0);
                    $('#Total_Votes').val(0);
                    //console.log(resp);
                    if (resp) {
                        if (resp.voters) {
                            var res = JSON.parse(resp.voters)
                            $('#Votants').val(res.Enroles);
                        }
                        if (resp.exprims) {
                            var res = JSON.parse(resp.exprims);
                            $('#Abstentions').val(res.Abstentions);
                            $('#Exprimes').val(res.Exprimes);
                            $('#Nuls').val(res.Nuls);
                            $('#Total_Votes').val(res.Total_Votes);
                        }

                        var table = $('#tbllist tbody');
                        if (resp.list) {
                            $.each(JSON.parse(resp.list), function (i, v) {
                                table.append('<tr><td><input type="hidden" class="ResultId" value="' + v.ID_Result + '" /><input type="hidden" class="CandidateId" value="' + v.ID_Candidat + '" />' + v.Nom + '</td><td><input type="hidden" class="PartyId" value="' + v.ID_Party + '" />' + v.Party + '</td><td class="votes">' + v.Voix + '</td><td class="percen">' + v.Pourcentage + '</td><td><button type="button" onClick="removerecord($(this))" class="btn btn-sm btn-danger"> X </button></td></tr>')
                            });
                        }
                    }

                    else {
                        $('#Votants').val(0);
                        console.log("findVoters(): Something Wrong")
                    }
                }
            });
        }
        function GetTerritoireList() {
            if ($('#ID_Province').val() > 0) {
                $('#ID_Territoire').html('');
                $('#ID_Territoire').append($('<option></option>').val('').html('Select Territoire'));
                $.ajax({
                    url: '/Admin/GetTerritoireList',
                    type: 'GET',
                    data: { ProvinceId: $('#ID_Province').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Territoire').append($('<option></option>').val(v.ID_Territoire).html(v.Nom));
                            });
                        }
                    }
                });
            }
        }

        function GetCommune() {
            if ($('#ID_Territoire').val() > 0) {
                $('#ID_Commune').html('');
                $('#ID_Commune').append($('<option></option>').val('').html('Select Commune'));
                $.ajax({
                    url: '/Admin/GetCommune',
                    type: 'GET',
                    data: { ProvinceId: $('#ID_Province').val(), TerritoireId: $('#ID_Territoire').val() },
                    success: function (res) {
                        //console.log(res);
                        if (res) {

                            $.each(res, function (i, v) {
                                $('#ID_Commune').append($('<option></option>').val(v.ID_Commune).html(v.Nom));
                            });
                        }
                    }
                });
            }
            resettable()
        }
        function GetPoolingStation() {
            if ($('#ID_Commune').val() > 0) {
                $('#ID_Bureauvote').html('');
                $('#ID_Bureauvote').append($('<option></option>').val('').html('Select Pooling Station'));
                $.ajax({
                    url: '/Admin/GetPoolingStationList',
                    type: 'GET',
                    data: { CommuneId: $('#ID_Commune').val() },
                    success: function (res) {
                        if (res) {

                            $.each(res, function (i, v) {
                                $('#ID_Bureauvote').append($('<option></option>').val(v.ID_Bureauvote).html(v.Nom));
                            });
                        }
                    }
                });
            }
        }

        function CountExprimes() {
            var Abstentions = $('#Abstentions').val() == "" ? 0 : $('#Abstentions').val()
            var Nuls = $('#Nuls').val() == "" ? 0 : $('#Nuls').val()

            var Votes = 0
            $('#tbllist >tbody tr').each(function () {
                Votes += parseInt($(this).find('.votes').html())
            });
            $('#Exprimes').val(parseInt(Votes) + parseInt(Abstentions) + parseInt(Nuls))
        }

        function removerecord(button) {
            debugger

            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/Admin/RemoveResult',
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: { ResultId: button.closest("tr").find('.ResultId').val(), ID_Bureauvote: $('#ID_Bureauvote').val() },
                        success: function (resp) {
                            swal("Success! Record has been deleted!", {
                                icon: "success",
                            });
                            if (resp) {

                                resettable()
                                var table = $('#tbllist tbody');
                                $.each(resp, function (i, v) {
                                    if (i == 0) {
                                        $('#Abstentions').val(v.Abstentions)
                                        $('#Nuls').val(v.Nuls)
                                        $('#Exprimes').val(v.Exprimes)
                                        $('#Total_Votes').val(v.Total_Votes)
                                    }
                                    table.append('<tr><td><input type="hidden" class="ResultId" value="' + v.ID_Result + '" /><input type="hidden" class="CandidateId" value="' + v.ID_Candidat + '" />' + v.Nom + '</td><td><input type="hidden" class="PartyId" value="' + v.ID_Party + '" />' + v.Party + '</td><td class="votes">' + v.Voix + '</td><td class="percen">' + v.Pourcentage + '</td><td><button type="button" onClick="removerecord($(this))" class="btn icon-trash btn-danger"></button></td></tr>')
                                });

                            }
                            else {
                                toastr.error(resp, "Error");
                            }
                        }
                    });

                } else {
                    swal("Your record is safe!");
                }
            });
        }
        function resetList() {
            $('#ID_Candidat').val('');
            $('#ID_Party').val('');
            $('#Voix').val(0);

        }
        function resettable() {
            $('#tbllist tbody>tr').remove();
        }

        function addToListAndDataBase() {
            if ($('#ID_Candidat').val() != '' && $('#Voix').val() > 0) {
                var votes = parseInt($('#Voix').val());
                $('#Total_Votes').val(parseInt($('#Voix').val()) + parseInt($('#Total_Votes').val()));
                $('#Exprimes').val(parseInt($('#Total_Votes').val()) + parseInt($('#Abstentions').val()) + parseInt($('#Nuls').val()))
                var perc = 0;
                //CountExprimes()

                var tbl_Results = {
                    ID_Result: $('#ID_Result').val(),
                    ID_Bureauvote: $('#ID_Bureauvote').val(),
                    Votants: $('#Votants').val(),
                    Total_Votes: parseInt($('#Total_Votes').val()),
                    Abstentions: $('#Abstentions').val(),
                    Nuls: $('#Nuls').val(),
                    Exprimes: $('#Exprimes').val(),
                    ID_Candidat: $('#ID_Candidat').val(),
                    ID_Party: $('#ID_Party').val(),
                    Pourcentage: perc,
                    Voix: votes
                };
                $.ajax({
                    url: '/Admin/SaveListRecord',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(tbl_Results),
                    success: function (resp) {
                        if (resp) {
                            resettable()
                            var table = $('#tbllist tbody');
                            $.each(resp, function (i, v) {
                                if (i == 0) {
                                    $('#Abstentions').val(v.Abstentions)
                                    $('#Nuls').val(v.Nuls)
                                    $('#Exprimes').val(v.Exprimes)
                                    $('#Total_Votes').val(v.Total_Votes)
                                }
                                table.append('<tr><td><input type="hidden" class="ResultId" value="' + v.ID_Result + '" /><input type="hidden" class="CandidateId" value="' + v.ID_Candidat + '" />' + v.Nom + '</td><td><input type="hidden" class="PartyId" value="' + v.ID_Party + '" />' + v.Party + '</td><td class="votes">' + v.Voix + '</td><td class="percen">' + v.Pourcentage + '</td><td><button type="button" onClick="removerecord($(this))" class="btn btn-sm btn-danger"> X </button></td></tr>')
                            });
                            toastr.success("Record save successfully", "Success");
                            resetList()
                        }
                        else {
                            toastr.error(resp, "Error");
                        }
                    }
                });


            }
            else {
                if ($('#Voix').val() == 0) {
                    toastr.warning("Enter value more than zero");
                }
                if ($('#ID_Candidat').val() == '') {
                    toastr.warning("Select Candidate");
                }
            }
        }
    </script>
}
