@model INEC3.Models.UserDisplay
@{

    ViewBag.Title = "Result";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="@Url.Content("~/Content/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/jquery")
<style>
    input, select, textarea {
        max-width: 480px;
    }
</style>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><b>Error </b>@ViewBag.Message
    </div>
}
@if (@ViewBag.Province == null && @ViewBag.Territoire == null && @ViewBag.Commune == null && @ViewBag.ID_Bureauvote == null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><b> Please Contact Admin.</b> You Don't have assign any Area.
    </div>
}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">@Model.Name Result's</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="@Url.Action("Index")" class="btn  btn-danger pull-right m-l-20  waves-effect waves-light">List</a>
            <ol class="breadcrumb">
                <li>Result</li>
                <li class="active">Add</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <p></p>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        @using (Html.BeginForm("Result", "Admin", FormMethod.Post, new { id = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.HiddenFor(model => model.UserId, new { @id = "UserId" })
                                    @Html.HiddenFor(model => model.Role, new { @id = "Role" })
                                    @if (@ViewBag.Province != null)
                                    {
                                        <div class="form-group col-md-6" id="Province">
                                            @Html.Label("Province")
                                            @Html.DropDownList("ID_Province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetTerritoireList()", @required = true })
                                        </div>
                                    }
                                    @if (@ViewBag.Territoire != null)
                                    {
                                        <div class="form-group col-md-6" id="Territoire">
                                            @Html.Label("Territoire")
                                            @Html.DropDownList("ID_Territoire", new SelectList(ViewBag.Territoire, "Value", "Text"), htmlAttributes: new { @class = "form-control disable", @onchange = "GetCommune()", @required = true })
                                        </div>
                                    }
                                    @if (@ViewBag.Commune != null)
                                    {
                                        <div class="form-group col-md-6" id="Commune">
                                            @Html.Label("Commune")
                                            @Html.DropDownList("ID_Commune", new SelectList(ViewBag.Commune, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetPoolingStation()", @required = true })
                                        </div>
                                    }
                                    @if (@ViewBag.ID_Bureauvote != null)
                                    {
                                        <div class="form-group col-md-6" id="PollingStation">
                                            @Html.Label("Pooling Station")
                                            @Html.DropDownList("ID_Bureauvote", new SelectList(ViewBag.ID_Bureauvote, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "PolStationCahngeGet()", @required = true })
                                        </div>
                                    }
                                    <div class="form-group col-md-6">
                                        @Html.Label("Code_SV")
                                        @Html.Editor("Code_SV", new { htmlAttributes = new { @class = "form-control", @id = "Code_SV" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Votants")
                                        @Html.Editor("Votants", new { htmlAttributes = new { @class = "form-control", @id = "Votants" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Abstentions")
                                        @Html.Editor("Abstentions", new { htmlAttributes = new { @class = "form-control tch3_22", @onchange = "CountExprimes()", @id = "Abstentions" } })
                                    </div>

                                    <div class="form-group col-md-6">
                                        @Html.Label("Nuls")
                                        @Html.Editor("Nuls", new { htmlAttributes = new { @class = "form-control tch3_22", @onchange = "CountExprimes()", @id = "Nuls" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Exprimes")
                                        @Html.Editor("Exprimes", new { htmlAttributes = new { @class = "form-control tch3_22", @Value = "0", @id = "Exprimes" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Total Votes")
                                        @Html.Editor("Total_Votes", new { htmlAttributes = new { @class = "form-control" }, @id = "Total_Votes" })
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <table class="table" id="tbllist">
                                        <thead class="table-bordered">
                                            <tr>
                                                <th>@Html.DropDownList("ID_Candidat", null, htmlAttributes: new { @class = "form-control", @onchange = "SelectParty()" })</th>
                                                <th>@Html.DropDownList("ID_Party", null, htmlAttributes: new { @class = "form-control disable" })</th>
                                                <th> @Html.Editor("Voix", new { htmlAttributes = new { @class = "form-control tch3_22", @Value = "0", @id = "Voix" } })</th>
                                                <th colspan="2"><button type="button" onclick="addToListAndDataBase()" class="btn btn-block btn-outline btn-rounded btn-info">Add</button></th>
                                            </tr>
                                            <tr>
                                                <th>Candidate</th>
                                                <th>Party</th>
                                                <th>Votes</th>
                                                <th>Percentage</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="@Url.Content("~/Content/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ShowUserView();
            $(".tch3_22").TouchSpin({initval:0,min: 0,max: 10000000000000000,stepinterval: 10,maxboostedstep: 100000000000});
            $('.bootstrap-touchspin-down').removeClass('btn-primary').addClass('btn-default');
            $('.bootstrap-touchspin-up').removeClass('btn-primary').addClass('btn-default');
            $("#Code_SV").prop("disabled", true);
            $("#ID_Party").prop("disabled", true);
            $("#Votants").prop("disabled", true);
            $("#Total_Votes").prop("disabled", true);
            $('#ID_Candidat').prepend($('<option selected></option>').val('').html("Select Candidate"));
            $('#ID_Party').prepend($('<option selected></option>').val('').html("Select Party"));

            $('#ID_Bureauvote').change(function () { $('#tbllist tbody>tr').remove(); });
            $(".preloader").fadeOut();

            var success = @((TempData["success"] != null).ToString().ToLower());
            if (success == true) {
                $.toast({ headers: 'Success!', text: '@TempData["success"]', position: 'top-right', loaderBg: '#ff6849', icon: 'success', hideAfter: 3500, stack: 6 });
            }
        });
        function ShowUserView() {
            var select = $("#Role").val();

            if (select == "SuperAdmin") {
                $('#ID_Province').prepend($('<option selected></option>').val('').html("Select Province"));
                $('#ID_Territoire').prepend($('<option selected></option>').val('').html("Select Territoire"));
                $('#ID_Commune').prepend($('<option selected></option>').val('').html("Select Commune"));
                $('#ID_Bureauvote').prepend($('<option selected></option>').val('').html("Select Polling Station"));
            }
            else if (select == "User") {
                $("#Province").hide()
                $("#Territoire").hide()
                $("#Commune").hide()
                $("#PollingStation").hide()
            }
            else if (select == "Province") {
                $('#ID_Territoire').prepend($('<option selected></option>').val('').html("Select Territoire"));
            }
            else if (select == "Territoire") {
                $('#ID_Commune').prepend($('<option selected></option>').val('').html("Select Commune"));
            }
            else if (select == "Commune") {
                $('#ID_Bureauvote').prepend($('<option selected></option>').val('').html("Select Polling Station"));
            }
            else if (select == "PollingStation") {
                PolStationCahngeGet()
            }
        }
    </script>
    <script src="@Url.Content("~/Scripts/Custome/ResultAdminResultComman.js")"></script>
}
