@model INEC3.Models.UserDisplay
@{

    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

@*<h2>Upload Election Result</h2>*@
<style>
    input, select, textarea {
        max-width: 480px;
    }
</style>

<div class="container-fluid">

    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">@Model.Name Result's</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="@Url.Action("Index")" class="btn btn-danger pull-right m-l-20  waves-effect waves-light">List</a>
            <ol class="breadcrumb">
                <li>Result</li>
                <li class="active">Add</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <p></p>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        @using (Html.BeginForm("Result", "Admin", FormMethod.Post, new { id = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.HiddenFor(model => model.UserId, new { @id = "UserId" })
                                    @Html.HiddenFor(model => model.Role, new { @id = "Role" })
                                    @if (@ViewBag.Province != null)
                                    {
                                        <div class="form-group col-md-6" id="Province" style="display:none;">
                                            @Html.Label("Province")
                                            @*@Html.LabelFor(model => model.ID_Candidat, "Province")*@
                                            @Html.DropDownList("ID_Province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetTerritoireList()", @required = true })
                                        </div>
                                    }
                                    @if (@ViewBag.Territoire != null)
                                    {
                                        <div class="form-group col-md-6" id="Territoire" style="display:none;">
                                            @*@Html.LabelFor(model => model.ID_Party, "Territoire")*@
                                            @Html.Label("Territoire")
                                            @Html.DropDownList("ID_Territoire", new SelectList(ViewBag.Territoire, "Value", "Text"), htmlAttributes: new { @class = "form-control disable", @onchange = "GetCommune()", @required = true })
                                        </div>
                                    }
                                    @if (@ViewBag.Commune != null)
                                    {
                                        <div class="form-group col-md-6" id="Commune" style="display:none;">
                                            @Html.Label("Commune")
                                            @*@Html.LabelFor(model => model.ID_Bureauvote, "Commune")*@
                                            @Html.DropDownList("ID_Commune", new SelectList(ViewBag.Commune, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "GetPoolingStation()", @required = true })
                                        </div>
                                    }
                                    @if (@ViewBag.ID_Bureauvote != null)
                                    {
                                        <div class="form-group col-md-6" id="PollingStation" style="display:none;">
                                            @Html.Label("Pooling Station")
                                            @Html.DropDownList("ID_Bureauvote", new SelectList(ViewBag.ID_Bureauvote, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "PolStationCahngeGet()", @required = true })
                                        </div>
                                    }
                                    <div class="form-group col-md-6">
                                        @Html.Label("Votants")
                                        @Html.Editor("Votants", new { htmlAttributes = new { @class = "form-control", @id = "Votants" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Abstentions")
                                        @Html.Editor("Abstentions", new { htmlAttributes = new { @class = "form-control", @onchange = "CountExprimes()", @Value = "0", @id = "Abstentions" } })
                                    </div>

                                    <div class="form-group col-md-6">
                                        @Html.Label("Nuls")
                                        @Html.Editor("Nuls", new { htmlAttributes = new { @class = "form-control", @onchange = "CountExprimes()", @Value = "0", @id = "Nuls" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Exprimes")
                                        @Html.Editor("Exprimes", new { htmlAttributes = new { @class = "form-control", @Value = "0", @id = "Exprimes" } })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Total Votes")
                                        @Html.Editor("Total_Votes", new { htmlAttributes = new { @class = "form-control" }, @id = "Total_Votes" })
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <table class="table" id="tbllist">
                                        <thead class="table-bordered">
                                            <tr>
                                                <th>@Html.DropDownList("ID_Candidat", null, htmlAttributes: new { @class = "form-control", @onchange = "SelectParty()" })</th>
                                                <th>@Html.DropDownList("ID_Party", null, htmlAttributes: new { @class = "form-control disable" })</th>
                                                <th> @Html.Editor("Voix", new { htmlAttributes = new { @class = "form-control", @Value = "0", @id = "Voix" } })</th>
                                                <th colspan="2"><button type="button" onclick="addToListAndDataBase()" class="btn btn-primary pull-right">Add</button></th>
                                            </tr>
                                            <tr>
                                                <th>Candidate</th>
                                                <th>Party</th>
                                                <th>Votes</th>
                                                <th>Percentage</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ShowUserView();
            $("#ID_Party").prop("disabled", true);
            $("#Votants").prop("disabled", true);
            $("#Total_Votes").prop("disabled", true);

            if ($('#ID_Result').val() == "") {
                $('#Votants').val(0);
                $('#Total_Votes').val(0);
                $('#ID_Candidat').append($('<option selected></option>').val('').html("Select Candidate"));
                $('#ID_Party').append($('<option selected></option>').val('').html("Select Party"));
                $('#ID_Bureauvote').append($('<option selected></option>').val('').html("Select Pooling Station"));
                $('#ID_Province').append($('<option selected></option>').val('').html("Select Province"));
            }
            else {
                SelectParty();
                PolStationCahngeGet();
            }
            $('#ID_Bureauvote').change(function () { $('#tbllist tbody>tr').remove(); });
            $(".preloader").fadeOut();
        });
        function SelectParty() {
            if ($('#ID_Candidat').val() > 0) {
                $(".preloader").show();
                $.ajax({
                    url: '/api/Results/GetParty',
                    type: "GET",
                    headers: { Authorization: bearer },
                    data: { candidateid: $('#ID_Candidat').val() },
                    success: function (resp) {
                        if (resp.ContentType != 'error') {
                            if (resp.Data) {
                                $("#ID_Party").val(resp.Data.ID_Party);
                                if (resp.Data.Color != null)
                                    $("#ID_Party").css("background", resp.Data.Color);
                                else $("#ID_Party").css("background", '#e2e2e2');
                            }
                            else {
                                console.log("SelectParty(): Something Wrong")
                            }
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function () {
                        $(".preloader").fadeOut();
                    }
                });
            }
        }
        function PolStationCahngeGet() {
            $(".preloader").fadeOut();
            $.ajax({
                url: '/api/Results/PolStationCahngeGet',
                //url: '/api/Results/GetVoters',
                //url: '/Admin/GetVoters',
                type: "GET",
                headers: { Authorization: bearer },
                data: { polingstationid: $('#ID_Bureauvote').val() },
                success: function (result) {
                    $('#Abstentions').val(0);
                    $('#Nuls').val(0);
                    $('#Exprimes').val(0);
                    $('#Total_Votes').val(0);
                    if (result.ContentType != 'error') {
                        var resp = result.Data
                        if (resp) {
                            $('#Votants').val(resp.Total_Voters);
                            $('#Abstentions').val(resp.Abstentions);
                            $('#Exprimes').val(resp.Exprimes);
                            $('#Nuls').val(resp.Nuls);
                            $('#Total_Votes').val(resp.Total_Votes);
                            //}
                        }
                        var table = $('#tbllist tbody');
                        if (resp.ResultList) {
                            $.each(resp.ResultList, function (i, v) {
                                table.append('<tr><td><input type="hidden" class="ResultId" value="' + v.ID_Result + '" /><input type="hidden" class="CandidateId" value="' + v.ID_Candidat + '" />' + v.Candidate + '</td><td><input type="hidden" class="PartyId" value="' + v.ID_Party + '" />' + v.Party + '</td><td class="votes">' + v.Votes + '</td><td class="percen">' + v.Pourcentage + '</td><td><button type="button" onClick="removerecord($(this))" class="btn btn-sm btn-danger"> X </button></td></tr>')
                            });
                        }
                    }

                    else {
                        $('#Votants').val(0);
                        console.log("PolStationCahngeGet(): Something Wrong")
                    }
                    $(".preloader").fadeOut();
                },
                error: function () {
                    $(".preloader").fadeOut();
                }
            });
        }
        function GetTerritoireList() {
            if ($('#ID_Province').val() > 0) {
                $('#ID_Territoire').html('');
                $('#ID_Territoire').append($('<option></option>').val('').html('Select Territoire'));
                $(".preloader").show();
                $.ajax({
                    url: '/api/Results/GetTerritoireList',
                    type: 'GET',
                    headers: { Authorization: bearer },
                    data: { ProvinceId: $('#ID_Province').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Territoire').append($('<option></option>').val(v.ID_Territoire).html(v.Nom));
                            });
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function () {
                        $(".preloader").fadeOut();
                    }
                });
            }
        }

        function GetCommune() {
            if ($('#ID_Territoire').val() > 0) {
                $('#ID_Commune').html('');
                $('#ID_Commune').append($('<option></option>').val('').html('Select Commune'));
                $(".preloader").show();
                $.ajax({
                    url: '/api/Results/GetCommune',
                    type: 'GET',
                    headers: { Authorization: bearer },
                    data: { ProvinceId: $('#ID_Province').val(), TerritoireId: $('#ID_Territoire').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Commune').append($('<option></option>').val(v.ID_Commune).html(v.Nom));
                            });
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function () {
                        $(".preloader").fadeOut();
                    }
                });
            }
            resettable()
        }
        function GetPoolingStation() {
            if ($('#ID_Commune').val() > 0) {
                $('#ID_Bureauvote').html('');
                $('#ID_Bureauvote').append($('<option></option>').val('').html('Select Pooling Station'));
                $(".preloader").show();
                $.ajax({
                    url: '/api/Results/GetPoolingStationList',
                    type: 'GET',
                    headers: { Authorization: bearer },
                    data: { CommuneId: $('#ID_Commune').val() },
                    success: function (res) {
                        if (res) {
                            $.each(res, function (i, v) {
                                $('#ID_Bureauvote').append($('<option></option>').val(v.ID_Bureauvote).html(v.Nom));
                            });
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function () {
                        $(".preloader").fadeOut();
                    }
                });
            }
        }

        function CountExprimes() {
            var Abstentions = $('#Abstentions').val() == "" ? 0 : $('#Abstentions').val()
            var Nuls = $('#Nuls').val() == "" ? 0 : $('#Nuls').val()

            var Votes = 0
            $('#tbllist >tbody tr').each(function () {
                Votes += parseInt($(this).find('.votes').html())
            });
            $('#Exprimes').val(parseInt(Votes) + parseInt(Abstentions) + parseInt(Nuls))
        }

        function removerecord(button) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $(".preloader").show();
                    $.ajax({
                        url: '/api/Results/RemoveResult',
                        type: 'GET',
                        headers: { Authorization: bearer },
                        data: { ResultId: button.closest("tr").find('.ResultId').val(), ID_Bureauvote: $('#ID_Bureauvote').val() },
                        success: function (resp) {
                            if (resp) {
                                swal("Success! Record has been deleted!", { icon: "success" });
                                resettable()
                                var table = $('#tbllist tbody');
                                $.each(resp, function (i, v) {
                                    if (i == 0) {
                                        $('#Abstentions').val(v.Abstentions)
                                        $('#Nuls').val(v.Nuls)
                                        $('#Exprimes').val(v.Exprimes)
                                        $('#Total_Votes').val(v.Total_Votes)
                                    }
                                    table.append('<tr><td><input type="hidden" class="ResultId" value="' + v.ID_Result + '" /><input type="hidden" class="CandidateId" value="' + v.ID_Candidat + '" />' + v.Nom + '</td><td><input type="hidden" class="PartyId" value="' + v.ID_Party + '" />' + v.Party + '</td><td class="votes">' + v.Voix + '</td><td class="percen">' + v.Pourcentage + '</td><td><button type="button" onClick="removerecord($(this))" class="btn btn-sm btn-danger"> X </button></td></tr>')
                                });
                            }
                            else {
                                $.toast({ heading: 'Oops', text: 'something wrong please try again.', position: 'top-right', loaderBg: '#ff6849', icon: 'error', hideAfter: 3500, stack: 6 });
                            }
                            $(".preloader").fadeOut();
                        },
                        error: function () {
                            $(".preloader").fadeOut();
                        }
                    });

                } else {
                    swal("Your record is safe!");
                }
            });
        }
        function resetList() {
            $('#ID_Candidat').val('');
            $('#ID_Party').val('');
            $('#ID_Party').css("background", "");
            $('#Voix').val(0);

        }
        function resettable() {
            $('#tbllist tbody>tr').remove();
        }
        function addToListAndDataBase() {
            if ($('#ID_Candidat').val() != '' && $('#Voix').val() > 0) {
                var votes = parseInt($('#Voix').val());
                $('#Total_Votes').val(parseInt($('#Voix').val()) + parseInt($('#Total_Votes').val()));
                $('#Exprimes').val(parseInt($('#Total_Votes').val()) + parseInt($('#Abstentions').val()) + parseInt($('#Nuls').val()))
                var perc = 0;
                var tbl_Results = {
                    ID_Result: $('#ID_Result').val(),
                    ID_Bureauvote: $('#ID_Bureauvote').val(),
                    Votants: $('#Votants').val(),
                    Total_Votes: parseInt($('#Total_Votes').val()),
                    Abstentions: $('#Abstentions').val(),
                    Nuls: $('#Nuls').val(),
                    Exprimes: $('#Exprimes').val(),
                    ID_Candidat: $('#ID_Candidat').val(),
                    ID_Party: $('#ID_Party').val(),
                    Pourcentage: perc,
                    Voix: votes
                };
                $(".preloader").show();
                $.ajax({
                    url: '/api/Results/SaveListRecord',
                    type: "POST",
                    headers: { Authorization: bearer },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(tbl_Results),
                    success: function (resp) {
                        if (resp.ContentType == null) {
                            resettable()
                            resp = resp.Data;
                            var table = $('#tbllist tbody');
                            $.each(resp, function (i, v) {
                                if (i == 0) {
                                    $('#Abstentions').val(v.Abstentions)
                                    $('#Nuls').val(v.Nuls)
                                    $('#Exprimes').val(v.Exprimes)
                                    $('#Total_Votes').val(v.Total_Votes)
                                }
                                table.append('<tr><td><input type="hidden" class="ResultId" value="' + v.ID_Result + '" /><input type="hidden" class="CandidateId" value="' + v.ID_Candidat + '" />' + v.Nom + '</td><td><input type="hidden" class="PartyId" value="' + v.ID_Party + '" />' + v.Party + '</td><td class="votes">' + v.Voix + '</td><td class="percen">' + v.Pourcentage + '</td><td><button type="button" onClick="removerecord($(this))" class="btn btn-sm btn-danger"> X </button></td></tr>')
                            });
                            $.toast({ text: 'Record save successfully', position: 'top-right', loaderBg: '#ff6849', icon: 'success', hideAfter: 3500, stack: 6 });
                            resetList()
                        }
                        else {
                            if (resp.ContentType == 'fail')
                                $.toast({ text: resp.Data, position: 'top-right', loaderBg: '#ff6849', icon: 'warning', hideAfter: 3500, stack: 6 });
                            else
                                $.toast({ text: 'Oops something wrong try after sometime', position: 'top-right', loaderBg: '#ff6849', icon: 'error', hideAfter: 3500, stack: 6 });
                        }
                        $(".preloader").fadeOut();
                    },
                    error: function (err) {
                        $(".preloader").fadeOut();
                        alert('something wrong with addToListAndDataBase');
                    }
                });


            }
            else {
                if ($('#Voix').val() == 0) {
                    toastr.warning("Enter value more than zero");
                }
                if ($('#ID_Candidat').val() == '') {
                    toastr.warning("Select Candidate");
                }
            }
        }
        function ShowUserView() {
            var select = $("#Role").val();
            if (select == "Province") {
                $("#Province").show()
                $("#Territoire").show()
                $("#Commune").show()
                $("#PollingStation").show()
            }
            else if (select == "Territoire") {
                $("#Province").hide()
                $("#Territoire").show()
                $("#Commune").show()
                $("#PollingStation").show()
            }
            else if (select == "Commune") {
                $('#Province').hide()
                $('#Territoire').hide()
                $('#Commune').show()
                $('#PollingStation').show()
            }
            else if (select == "PollingStation") {
                $('#Province').hide()
                $('#Territoire').hide()
                $('#Commune').hide()
                $('#PollingStation').show()
            }
        }
    </script>
}
