@model IEnumerable<INEC3.Models.UserDisplay>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Manage User</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Users</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">MANAGE USERS</div>
                <div class="table-responsive">

                    @using (Html.BeginForm())
                    {
                        <input type="hidden" value="0" name="userid" id="userid" />

                        <table id="myTable" class="table table-hover manage-u-table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 70px">#</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Active</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    @if (item.Role == "SuperAdmin")
                                    {
                                        <td>
                                            <select class="form-control">
                                                <option selected> @Html.DisplayFor(modelItem => item.Role)</option>
                                                <option>User</option>
                                            </select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <select class="form-control">
                                                <option selected> @Html.DisplayFor(modelItem => item.Role)</option>
                                                <option>SuperAdmin</option>
                                            </select>
                                        </td>
                                    }

                                    @if (item.Isactive)
                                    {
                                        <td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button></td>
                                    }
                                    else
                                    {
                                        <td><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i> </button></td>
                                    }
                                    @if (item.EmailConfirmed)
                                    {
                                        <td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button></td>
                                    }
                                    else
                                    {
                                        <td><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i> </button></td>
                                    }
                                    <td>
                                        <button class="btn btn-primary  waves-effect waves-light" onclick="Manage('@item.UserId')" type="submit" formmethod="post" formaction="@Url.Action("ManageUser")">Assign Polling Station</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
@Scripts.Render("~/bundles/jquery")

@section Scripts {
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#myTable').DataTable();
        });
        function Manage(id) {
            $('#userid').val(id);
        }
    </script>
}