@model IEnumerable<INEC3.Models.UserDisplay>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Manage User</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Users</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">User List</h3>
                <div class="table-responsive">

                    @using (Html.BeginForm())
                    {
                        <input type="hidden" value="0" name="userid" id="userid" />

                        <table id="myTable" class="table table-striped">
                            <tr>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Active</th>
                                <th>Email</th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>

                                    @if (item.Isactive)
                                    {
                                        <td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button></td>
                                    }
                                    else
                                    {
                                        <td><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i> </button></td>
                                    }
                                    @if (item.EmailConfirmed)
                                    {
                                        <td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button></td>
                                    }
                                    else
                                    {
                                        <td><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i> </button></td>
                                    }
                                    <td>
                                        @*<a class="btn btn-primary pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light " href="#">Manage</a>*@
                                        @*@Html.ActionLink("Manage User", "ManageUser", new { id = item.Id }, new {@class="btn btn-primary pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light " })*@
                                        <button class="btn btn-primary left waves-effect waves-light" onclick="Manage('@item.UserId')" type="submit" formmethod="post" formaction="@Url.Action("ManageUser")">Manage User</button>
                                    </td>
                                </tr>
                            }

                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
@Scripts.Render("~/bundles/jquery")

@section Scripts {
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#myTable').DataTable();
        });
        function Manage(id) {
            $('#userid').val(id);
        }
    </script>
}